body {
  padding: 70px 0;
  background-color: #00008B;
  font-family: "Bebas Neue", cursive;
}

h1, p {
  color: #ffffff;
  text-align: center;
}

h1

#title {
  border: 7px solid #ffffff;
  font-size: 70px;
}

image {
  border-radius: 50%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
