body {
  padding: 70px 0;
  background-color: #00008B;
  font-family: "Bebas Neue", cursive;
}

p {
  color: white;
  text-align: center;
}

#title {
  border: 7px solid white;
  font-size: 70px;
}

image {
  border-radius: 3px;
  border: 4px solid #ffffff;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
