body {
  padding: 70px 0;
  background-color: #00008B;
  font-family: "Bebas Neue", cursive;
}

h1, p {
  color: #ffffff;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
