body {
  padding: 70px 0;
  background-color: #00008B;
}

h1, p {
  color: #ffffff;
  text-align: center;
  font-family: 'Silkscreen', cursive;
}

img {
  border-radius: 50%;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
