:root {
  --up: -20%;
  --down: 20%;
  --right: 0%;
  --left: 0%;
}

body {
  padding: 70px 0% 0% 0%;
  font-family: 'Bebas Neue', Arial;
}
      
div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
      
.button {
  opacity: 0;
  filter: invert(100%);
  -webkit-tap-highlight-color: transparent;
}
      
#logo {
  padding: 0% 0% 0% 0%;
  z-index: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
      
#exit {
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}
      
#logo > p {
  padding: 20px 5px 2px 10px;
  height: 130px;
  width: 140px;
  background-color: white;
  font-size: 70px;
  border: 7px solid black;
  line-height: 60px;
}
      
a {
  text-decoration: none;
  color: yellow;
}
      
#exit > p {
   /*padding: 5px 10px 5px x;*/
   padding-left: 10px;
   background-color: white;
   font-size: 30px;
   margin-right: -150px;
   margin-bottom: -78px;
   color: cyan;
}

@media screen and (min-width: 400px) {
  :root {
    --up: 0%;
    --down: 0%;
    --right: 20%;
    --left: -20%;
  }
  
  body {
    padding-top: 150px;
  }
  
  div {
    flex-direction: row;
  }

  #up, #down {
    -webkit-transform:rotate(-90deg);
    padding: 0px 30px 0px 30px;
  }

  #down {
    margin-left: -20px;
  }

  #exit {
    margin-top: -170%;
    margin-right: -15px;
  }
}
      
@keyframes shake {
   10%, 90% {
     transform: translate3d(-1px, 0, 0);
   }
      
   20%, 80% {
     transform: translate3d(2px, 0, 0);
   }
      
   30%, 50%, 70% {
     transform: translate3d(-4px, 0, 0);
   }
      
   40%, 60% {
     transform: translate3d(4px, 0, 0);
   }
}
      
@keyframes fadeOutUp {
   0% {
     opacity: 1;
   }

   100% {
     opacity: 0;
     transform: translate3d(var(--left), var(--up), 0);
   }
} 
      
@keyframes fadeOutDown {
   0% {
     opacity: 1;
   }

   100% {
     opacity: 0;
     transform: translate3d(var(--right), var(--down), 0);
   }
}

@keyframes fadeToBlack {
  0% {
    background-color: white;
  }

  50% {
    background-color: gray;
  }
      
  100% {
    background-color: black;
  }
}
      
@keyframes fadeToWhite {
  0% {
    background-color: black;
  }

  50% {
    background-color: gray;
  }

  100% {
    background-color: white;
  }
}
